header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* apply styles to <header> */
.highLink {
    flex: 1 0 300px;
    font-size: 20px;
    
}

.countName {
    flex: 1 0 100px
    font-size: 20px;
}

.countNumber {
    flex: 1 0 100px
    font-size: 20px;
}


button {
    color:white;
    background-color:blue;
    text-align: center;
    padding: 15px 50px;
    font-size: 25px;
    border-radius: 12px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color:cornflowerblue;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start h1 {
    text-align: center;
    font-size: 50px;
}

.start p {
    text-align: center;
    font-size: 25px;
}

.question {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionNoC {
    display: none;
}

.validationMessage {
    display: none;
    font-size: 40px;
}

.correctAnswer {
    display: none;
}

.entryC {
    display: none;
    flex-direction: column;
    align-items:center;
    row-gap: 30px;

}

.entryC h1 {
    display:flex;
    font-size: 50px;
    width: 100%;
    max-width: 800px;
}
.entryC div {
    display:flex;
    font-size: 25px;
    width: 100%;
    max-width: 800px;
}

.entryC label {
    display:flex;
    font-size: 25px;
    align-items: baseline;
}

.entryC form {
    width: 100%;
    max-width: 800px;
}

input[type=text] {
    font-size: 25px;
    width: 300px;
}

input[type=submit] {
    color:white;
    background-color:blue;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
    margin: 10px;
    width: 100%;
    max-width: 100px;
}

footer {
    display: flex;
    justify-content: center;
}