header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* apply styles to <header> */
.highLink {
    flex: 1 0 300px;
    font-size: 20px;
    
}

.countName {
    flex: 1 0 100px
    font-size: 20px;
}

.countNumber {
    flex: 1 0 100px
    font-size: 20px;
}


button {
    color:white;
    background-color:blue;
    text-align: left;
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 12px;
    margin: 10px;
}

button:hover {
    background-color:cornflowerblue;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start h1 {
    text-align: center;
    font-size: 50px;
}

.start p {
    text-align: center;
    font-size: 25px;
}

.question {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a1 {

    font-size: 25px;
}
.a2 {

    font-size: 25px;  
}
.a3 {

    font-size: 25px;
}
.a4 {
 
    font-size: 25px;
}
.correct {

    font-size: 40px;
}

footer {
    display: flex;
    justify-content: center;
}